@font-face{
    font-family: "PTSans";
    src: url("../fonts/web/ptsans.woff2") format("woff2"),
         url("../fonts/web/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PTSans";
    src: url("../fonts/web/ptsansbold.woff2") format("woff2"),
         url("../fonts/web/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

*,*::before, *::after {
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --blue: #81B3D2;
    --grey: #EEEEEE;
    --brown: #766357; 
    --light-grey:#F2F2F2; 
    --black: #000000;
    --light-black: #333333; 
    --for-current-page: #766357;
    --for-rating: #666666;
    --for-line-catalog: #e5e5e5;
    --dark-brown-for-hover: #604E43;
    --dark-brown-for-onclick: #503E33;
    --dark-blue-for-hover: #669EC0;
    --dark-blue-for-active: #5496BD;
    --grey-for-calendar-icon:  #A9A9A9;
    --black-for-html-academy: #231F20;
    --date-for-hover: #EBEBEB;
    --grey-for-up-down: #CACACA;
    --toggle: #ababab;
    --for-checkbox: #6A6A6A;
}
.page{
    height: 100%;
}



body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    line-height: 21px;
    text-transform: uppercase;
    background-color: var(--light-grey);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    background-color: var(--white);
}

.navigation-item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.information-nav{
    padding-right: 137px;
    width: 300px;
    text-align: right;
}

.photo-nav{
    padding-right: 147px;
    width: 300px;
    text-align: right;
}

.map-nav{
    width: 300px;
    text-align: left;
    padding-left: 133px;
}

.current-page{
    color: var(--for-current-page);
}

.hotel-nav{
    width: 300px;
    text-align: left;
    padding-left: 127px;
}

.logo-sedona{
    position: absolute;
    top: 0;
    left: calc(50% - 69px);
}

.navigation-item a{
    color: var(--black);
}

.navigation-item li{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-logo{
    width: 1200px;
    background-image: url('../img/background-photo-1.jpg');
    background-position: center;
    max-width: 100%;
    height: auto;
}

.welcome-logo{
    text-align: center;
    padding-top: 77px;
    margin-left: 351px;
}

.figure{
    margin-bottom: -8px;
}


.information{
    text-align: center;
}

.real-town{
    margin: 0 auto;
    padding-top: 40px;
}

.its-own-life{
    margin-top: -15px;
}

 .is-not-attraction{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 23px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 54px;
} 

.real-town h2 {
    max-width: 270px;
    margin: 0 auto;
}

.real-town-section{
    display: flex;
    text-align: center;
    margin-top: 51px;
    background-color: var(--blue);
    color: var(--white);
}

.food{
    width: 400px;
    justify-self: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 82px;
}

.house{
    width: 400px;
    justify-self: start;
    padding-left: 43px;
    padding-right: 43px;
    padding-bottom: 82px;
}

.souvenirs{
    width: 400px;
    justify-self: end;
    padding-left: 43px;
    padding-right: 43px;
    padding-bottom: 82px;
}

.area{
    width: 400px;
    justify-self: start;
}

.beautiful-road{
    width: 400px;
    justify-self: center;
}

.less-people{
    width: 400px;
    justify-self: end;
}
.facilities ul{
    display: flex;
}

.bridge{
    margin: 0 auto;
   padding-top:40px;
}

.bridge p{
    font-size: 14px;
    line-height: 21px;

}

.bridge-section {
    display: flex;
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
}

.advantages{
    background-color: var(--grey);
    text-align: center; 
    width: 1200px;
}

.advantages li{
    padding-top: 47px;
    padding-bottom: 54px;
}

.food{
   background-image: url(../img/icon-3.svg);
   background-size: 75px 70px;
   background-position: center 69px;
   background-repeat: no-repeat;
}

.souvenirs{
    background-image: url(../img/icon-2.svg);
    background-size: 75px 70px;
    background-position: center 69px;
    background-repeat: no-repeat;
}

.house{
    background-image: url(../img/icon-1.svg);
    background-size: 75px 70px;
    background-position: center 69px;
    background-repeat: no-repeat;
}

.town-sedona{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin: 41px auto;
    width: 500px;
}

.p-for-advantages{
    padding-left: 60px;
    padding-right: 60px;
}

.p-for-advantages-drive{
    padding-left: 40px;
    padding-right: 40px;
}
.reasons{
    font-size: 14px;
    line-height: 26px;
    color: var(--light-black);
    margin-top: 51px;
}

.dates-of-journey h2{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 24px;
}
.dates-of-journey p{
    font-size: 14px;
    line-height: 24px;
    color: var(--light-black);
    text-align: center;
}
.search-hotels{
    margin-left: 326px;
    font: inherit;
    text-align: center;
    width: 568px;
    height: 86px;
    font-weight: bold;
    font-size: 21px;
    background-color: var(--brown);
    color:var(--white);
    text-transform: uppercase;
    border: none;
    line-height: 26px;
    margin-top: 50px;
}

.search-hotels:hover{
    background-color: var(--dark-brown-for-hover);
    border: none;
}

.search-hotels:active{
    background-color: var(--dark-brown-for-onclick);
    color: rgba(255,255,255,.3);
    border: none;
}

.blank{
    background-color: var(--white);
    font-size: 14px;
    font: inherit;
    line-height: 26px;
    font-weight: bold;
    background-color: var(--white);
    font-size: 14px;
    font: inherit;
    line-height: 26px;
    font-weight: bold;
    padding: 57px 54px 54px 54px;
    position: absolute;
    left: calc((100vw - 568px) / 2);
    
    width: 568px;
}


.dates {
     border: none;
     width: 308px;
     padding: 6px 0 6px 12px;
     height: 38px;
     background-color: var(--light-grey);
     font-weight: bold;
     font-size: 14px;
     line-height: 26px;
     font: inherit;  
}


.dates:hover{
    background-color: var(--date-for-hover);
}

.dates:focus{
    background-color: var(--white);
    border: 2px solid var(--for-line-catalog);
    outline: none;
}

.people{
    width: 91px;
    height: 38px;
    border: none;
    background-color: var(--light-grey);
    text-align: center;
    font: inherit;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    padding-left: 20px;
}



 .search{
    width: 458px;
    height: 58px;
    background-color: var(--blue);
    color: var(--white);
    font: inherit;
    border: none;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 26px;
    margin-top: 54px;
} 

.date-arrive-container {
    margin-bottom: 29px;
    max-width: 460px;
    height: 38px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.date-leave-container{
    margin-bottom: 29px;
    max-width: 460px;
    height: 38px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.adults-and-children{
    display: flex;
    font-size: 14px;
}



.date-leave-container label{
    width: 114px;
    text-align: left;
    letter-spacing: .03em;
    font-size: 14px;
}

.date-arrive-container label {
    width: 114px;
    text-align: left;
    letter-spacing: .03em;
    font-size: 14px;
}


.calendar{
    position: relative;
    fill: var(--grey-for-calendar-icon);
    border: none;
    width: 38px;
    height: 38px;
}

.calendar:hover{
    fill: var(--black);
    border: none;
}

.calendar:active{
    fill: var(--blue);
    border: none;
}

.button-minus{
    position: relative;
    left: 30px;
    border: none;
    bottom: 3px;
}

.minus{
   
    fill: var(--grey-for-calendar-icon);
     
    
}

.minus:hover{
    fill: var(--black);
    border: none;
}

.minus:active{
    fill: var(--blue);
    border: none;
}

.button-union{
    position: relative;
    right: 27px;
    border: none;
}



.union:hover{
    fill: var(--black);
    border: none;
}

.union:active{
    fill: var(--blue);
    border: none;
}


.search:hover{
    background-color: var(--dark-blue-for-hover);
    border: none;
}

.search:active{
   background-color: var(--dark-blue-for-active);
   color: rgba(255,255,255,.3);
   border: none;
}

.contacts{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    
    
}
.website{
    font-size: 14px;
    text-transform: uppercase;
    line-height: 26px;
}

.social-icons {
    display: block;
    width: 46px;
    height: 48px;
    fill: #fff;
    background-color: var(--blue);
    position: relative;
    margin-right: 6px;
}

.socials{
    list-style: none;
}

.phone{
    color: var(--black);
}

.hotels h1{
    font: inherit;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.hotels p{
    font: inherit;
    font-size: 12px;
    line-height: 18px;
    color: var(--black);
    padding-top: 2px;
    margin-top: 0px;
    padding-left: 46px;
    padding-bottom: 37px;
}

.hotels h2 {
    font: inherit;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--black);
    padding-top: 0px;
    margin-top: 0px;
}

.price {
    color: var(--blue);
    font-size: 12px;
    line-height: 18px;
    padding-top: 3px;
}

.type{
    font-size: 12px;
    line-height: 18px;
    color: var(--black);
    opacity: 0.3;
    border-bottom: 1px dashed var(--blue);
    padding-top: 2px;
}

.type:hover,
.rate:hover{
    color: var(--blue);
    border-bottom: 1px dashed var(--blue);
    opacity: 1.0;

}

.type:active,
.rate:active{
    color: var(--black);
    opacity: 1.0;
    border: none;
}

.rate{
    font-size: 12px;
    line-height: 18px;
    color: var(--black);
    border-bottom: 1px dashed var(--blue);
    padding-top: 3px;
    padding-left: 1px;
    opacity: 0.3;
}

.hotels span{
    font: inherit;
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
}
 
.more{
    color: var(--white);
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    display: block;
    width: 110px;
    padding: 3px 0;
    background-color: var(--blue);
}

.more:hover{
    background-color: var(--dark-blue-for-hover);
    border: none;
}

.more:active{
    background-color: var(--dark-blue-for-active);
    color: rgba(255,255,255,.3);
    border: none;
}

.book{
    color: var(--white); 
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    display: block;
    width: 142px;
    padding: 3px 0;
    background-color: var(--brown);
}

.book:hover{
    background-color: var(--dark-brown-for-hover);
    border: none;
}

.book:active{
    background-color: var(--dark-brown-for-onclick);
    color: rgba(255,255,255,.3);
    border: none;
}

.stars-and-rating{
    margin-left: auto;
    width: 110px;
    height: 91px;
     display: flex;
    flex-direction: column;
    align-items: flex-end;  
}

.span-for-star{
    height: 17px;
    width: 18px;
    display:inline-block;
    background-image: url(../img/star.svg);
}

.page-wrapper{
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}


   
  


.rating {
    background-color: var(--grey);
    color: var(--for-rating);
    width: 110px;
    margin-top: 40px;
    text-align: center;
    padding: 3px 3px;
    font-size: 14px;
}


.navigation-item .current-page{
    color: var(--for-current-page);
    font-weight: bold;
    font-size: 14px;
    line-height: 26px; 
}

.description{
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
    margin-bottom: 10px;
   
}

.real-town .bridge{
    width: 400px;
    height: 256px;
    background-color: var(--blue);
    text-align: center;
}

.real-town h2 .bridge h2{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--white);
}

.real-town p .bridge p{
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
}

.facilities{
    background-color: var(--white);
    text-align: center;
    height: 330px;
}

.facilities li, .advantages li{
    list-style: none;
}

.facilities li{
    padding-top: 146px;
}

.facilities h2, .advantages h2{
    font:inherit;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--black);
}

.facilities p, .advantages p{
    font:inherit;
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
}

.facilities p{
    margin: 0;
}

.facilities h2{
    margin-bottom: 25px;
}

.map{
    width: 1199px;
    height: 594px; 
    z-index: 0;
}

.filter{
    display: flex;
    width: 100%;
    padding-left: 72px;
    padding-right: 73px;
    padding-top: 26px;
    padding-bottom: 32.5px;
    
}

.last{
    padding-bottom: 32px;
}

.filter legend{
    font:inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: var(--white);
}

.filter span{
    margin-bottom: 25px;
    font: inherit;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
}

.filter fieldset:not(.type-of-life){
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    height: 158px;
}
.type-of-life{
    padding-left: 117px;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    height: 158px;
}

.price-container{
    margin-top: 10px;
}

.price-filter{
    border: none;
    color: var(--white);
    margin-left: auto;
}

.price-container {
    border: 2px solid var(--white);
    font:inherit;
    font-size: 14px;
    line-height: 21px;
    padding-top: 6px;
    padding-bottom: 6px;
}


.range-price{
   position: relative;
   height: 53px;
   background-color: transparent;
   padding-top: 20px;
}

.range-price .scale{
    height: 2px;
    background-color: var(--black);
    opacity: 0.3;
}

.range-price .bar{
    width: 80%;
    height: 2px;
    background-color: var(--white);
}

.range-price .toggle-min{
  left: 0;
}

.range-price .toggle-max{
    left: 290px;
}
.toggle{
    width: 4px;
    height: 4px;
    border: 8px solid var(--white);
    background-color: var(--toggle);
    padding: 2px 2px;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #ababab;
    position: absolute;
    top: 11px;
    left: 0;
    cursor: pointer;
}

.toggle-min:hover{
    width: 23px;
    height: 21px;
    border: 8px solid var(--white);
    background-color: var(--toggle);
    padding: 2px 2px;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #ababab;
    position: absolute;
    top: 11px;
    left: 0;
    cursor: pointer;
}

.information:hover{
    color: var(--blue);
}

.information:active{
    color: var(--black);
    opacity: 0.3;
}


.p-filter svg{
    position: relative;
    top: 5px;
    fill: var(--white);
}

.p-filter svg:active{
    fill: var(--for-checkbox);
}

.toggle-max:hover{
    width: 23px;
    height: 21px;
    border: 8px solid var(--white);
    background-color: var(--toggle);
    padding: 2px 2px;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #ababab;
    position: absolute;
    top: 11px;
    left: 290;
    cursor: pointer;
}

.price-container input{
    width: 53px;
    background-color: transparent;
    color: var(--white);
    border: none;
    font: inherit;
    font-size: 14px;
}

.price-filter legend{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}
.icon-up{
    margin-left: 440px;
    margin-top: 10px;
    fill: var(--grey-for-up-down);
}

.icon-up:hover{
    fill: var(--black);
}

.icon-down:hover{
    fill: var(--black);
}

.icon-up:active{
    fill: var(--blue);
}

.icon-down:active{
    fill: var(--blue);
}

.icon-down{
    margin-left: 12px;
    margin-top: 10px;
    fill: var(--grey-for-up-down);
}

.button-show{
    width: 137px;
    height: 36px;
    border: 2px solid var(--white);
    background-color: transparent;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    text-transform: uppercase;
    font: inherit;
    margin-left: 85px;
    font-stretch: condensed;
}

.button-show:hover{
    border: 2px solid var(--white);
    background-color: var(--white);
    color: var(--black);

}
.contacts{
    padding-top: 4px;
    padding-left: 13px;
}

.socials{
    display: flex;
    margin-top: 36px;
    margin-bottom: 36px;
}

.social-icons img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.social-icons:active img{
    opacity: .3;
}

.social-icons:hover{
    background-color: var(--dark-blue-for-hover);
}

.social-icons:active{
    background-color: var(--dark-blue-for-active);
    
}

.academy-logo{
    fill: var(--black-for-html-academy);
    margin-left: 10px;
}

.website span{
    padding-top: 33px;
}

.academy-logo:hover{
    fill: var(--blue);
}

.academy-logo:active{
    fill: var(--black-for-html-academy);
    fill-opacity: 0.9;
}

.main-footer{
    color: var(--black);
    background-color: var(--white);
}

.main-footer .footer-container{
    padding-right: 101px;
    padding-left: 117px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-for-contacts{
    text-align: left;
    width: 251px;
    line-height: 9px;
}

.section-for-socials{
    margin-left: 75px;
    width: 138px;
}

.website{
    padding-left: 117px;
    display: flex;

}

.website a{
    padding-top: 25px;
}

.current-page {
    color: var(--for-current-page);
    font-size: 14px;
    line-height: 26px;
}

.choose-hotel{
    background-color: var(--white);
}

.choose-hotel section h1{
    padding-left: 237px;
}

.page-wrapper{
    margin: 0 auto;
    width: 1200px;
    background-color: var(--white);
}

.advantages ul{
    margin: 0px;
    display: flex;
}

ul{
    padding: 0px;
    margin: 0px;
}
.number{
    text-align: center;
    font-size: 14px;
    line-height: 21px;
}

.deserves-more{
    margin-top: -16px;
}
 .name-hotel h3{
       margin: 0px;
   }

.hotel-more, .price-book{
    text-align: left;
    display: inline-block;
    margin-right: 6px;
    vertical-align: bottom;
}

.name-of-hotel{
    margin-bottom: 3px;
    text-align: left;
    position: relative;
    top: -4px;
    color: var(--black);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    font-family: inherit;
}

.name-of-hotel:hover{
    color:var(--blue);
}

.name-of-hotel:active{
    color: rgba(0,0,0,.3)
}


.p-for-bridge{
    padding-left: 30px;
    padding-right: 30px;
}

li{
   list-style: none;
}

.choose-hotel li{
    display: flex;
    border-bottom: 1px solid var(--for-line-catalog);
    flex-wrap: wrap;
    padding-top: 30px;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-right: 72px;

}

.choose-hotel li:first-child{
    border-top: 1px solid var(--for-line-catalog);
}

.name-hotel{
    padding-left: 29px
}

 .section-filter{
    background-image: url("../img/backgroundbackground-2-photo.png");
    background-size: cover;
} 

.min-price{
    margin-left: 52px;
    margin-top: 6px;
    margin-bottom: 8px;
    border-right: 2px solid var(--white);
    padding-right: 49px;
    
}

.max-price{
    margin-left: 88px;
    margin-right: 36px;
    margin-top: 6px;
    margin-bottom: 8px;
}

.hotels{
    display: flex;
    padding-left: 73px;
    padding-top: 29px;
}

.hotels li{
    display: inline;
    font-size: 12px;
    line-height: 18px;
}

.hotels li:not(:first-child){
    margin-left: 32px;
}

.hotels ul{
    padding-top: 0px;
    padding-left: 40px;
}

.choose-hotel li{
    padding: 30px 70px 30px 72px;
}

.p-filter{
    margin: 0px;
}

.first{
    padding-top: 15px;
}

.p-filter:not(.first){
    padding-top: 16px;
}