@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
    url("../fonts/web/ptsans.woff2") format("woff2"),
    url("../fonts/web/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       url("../fonts/web/ptsansbold.woff2") format("woff2"),
       url("../fonts/web/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --blue: #81b3d2;
  --grey: #eeeeee;
  --brown: #766357;
  --light-grey: #f2f2f2;
  --black: #000000;
  --light-black: #333333;
  --for-current-page: #766357;
  --for-rating: #666666;
  --for-line-catalog: #e5e5e5;
  --dark-brown-for-hover: #604e43;
  --dark-brown-for-onclick: #503e33;
  --dark-blue-for-hover: #669ec0;
  --dark-blue-for-active: #5496bd;
  --grey-for-calendar-icon: #a9a9a9;
  --black-for-html-academy: #231f20;
  --date-for-hover: #ebebeb;
  --grey-for-up-down: #cacaca;
  --toggle: #ababab;
}

.page {
  height: 100%;
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
  background-color: var(--light-grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  background-color: var(--white);
}

.navigation-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.information-nav {
  width: 240px;
  margin-left: 72px;
  text-align: left;
}

.photo-nav {
  width: 240px;
  margin-left: -12px;
  text-align: left;
}

.information:hover, .information:focus,
.photo:hover, .photo:focus,
.hotels-sedona:hover, .hotels-sedona:focus,
.map-sedona:hover,  .map-sedona:focus {
  color: var(--blue);
}



.information:active,
.photo:active, 
.map-sedona:active, 
.hotels-sedona:active {
  color: var(--black);
  opacity: 0.3;
}


.map-nav {
  width: 240px;
  margin-left: 120px;
  text-align: right;
}

.current-page {
  color: var(--for-current-page);
}

.hotel-nav {
  width: 240px;
  margin-left: -14px;
  text-align: right;
}

.logo-sedona {
  position: absolute;
  top: 0;
  left: calc(50% - 69px);
}

.navigation-item a {
  color: var(--black);
}

.navigation-item li {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-logo {
  width: 1200px;
  height: 509px;
  max-width: 100%;
  background-color: var(--blue);
  background-image: url(../img/background-photo-1.jpg);
  background-position: center;
}

.welcome-logo {
  z-index: 1;
  padding-top: 77px;
  margin-left: 370px;
  text-align: center;
}

.figure {
  margin-bottom: -63px;
}

.information-main {
  text-align: center;
}

.real-town {
  margin: 0 auto;
  padding-top: 40px;
}

.its-own-life {
  margin-top: -15px;
}

.is-not-attraction {
  padding-left: 40px;
  padding-right: 38px;
  margin-top: 25px;
  margin-bottom: 54px;
  font-family: inherit;
  font-size: 14px;
  text-align: center;
}

.real-town h2 {
  max-width: 205px;
  margin: 0 auto;
  margin-top: 7px;
  font-size: 21px;
  line-height: 21px;
}

.real-town-section {
  margin-top: 51px;
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
  display: flex;
}

.food {
  width: 400px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 82px;
  justify-self: center;
}

.house {
  width: 400px;
  padding-left: 43px;
  padding-right: 43px;
  padding-bottom: 82px;
  justify-self: start;
}

.souvenirs {
  width: 400px;
  padding-left: 43px;
  padding-right: 43px;
  padding-bottom: 82px;
  justify-self: end;
}

.area {
  width: 400px;
  justify-self: start;
}

.beautiful-road {
  width: 400px;
  justify-self: center;
}

.less-people {
  width: 400px;
  justify-self: end;
}

.facilities ul {
  display: flex;
}

.bridge {
  margin: 0 auto;
  padding-top: 30px;
}

.bridge p {
  font-size: 14px;
  line-height: 21px;
}

.bridge-section {
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
  display: flex;
}

.advantages {
  width: 1200px;
  height: 256px;
  text-align: center;
  background-color: var(--grey);
}

.advantages li {
  padding-top: 47px;
  padding-bottom: 54px;
}

.food {
  background-image: url(../img/icon-present.svg);
  background-size: 75px 70px;
  background-position: center 61px;
  background-repeat: no-repeat;
}

.souvenirs {
  background-image: url(../img/icon-food.svg);
  background-size: 80px 74px;
  background-position: center 58px;
  background-repeat: no-repeat;
}

.house {
  background-image: url(../img/icon-house.svg);
  background-size: 75px 70px;
  background-position: center 61px;
  background-repeat: no-repeat;
}

.town-sedona {
  width: 500px;
  margin: 41px 349px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.p-for-advantages {
  padding-left: 60px;
  padding-right: 60px;
}

.p-for-advantages-drive {
  padding-left: 65px;
  padding-right: 65px;
}

.p-for-advantages-crowd {
  padding-left: 75px;
  padding-right: 75px;
}

.reasons {
  padding-right: 6px;
  margin-top: 44px;
  font-size: 14px;
  line-height: 26px;
  color: var(--light-black);
}

.dates-of-journey h2 {
  padding-top: 57px;
  padding-left: 3px;
  margin-top: 0;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.dates-of-journey p {
  padding-top: 7px;
  font-size: 14px;
  line-height: 24px;
  color: var(--light-black);
  text-align: center;
}

.search-hotels {
  z-index: 10;
  display: inline-block;
  min-width: 568px;
  height: 86px;
  padding-top: 4px;
  margin-left: 316px;
  margin-top: 30px;
  vertical-align: middle;
  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--brown);
  border: 0;
}

.search-hotels:hover, .search-hotels:focus {
  background-color: var(--dark-brown-for-hover);
  border: none;
}

.search-hotels:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--dark-brown-for-onclick);
  border: none;
}

.blank {
  position: absolute;
  left: calc(50% - 282px);
  z-index: 3;
  width: 568px;
  padding: 55px 54px 41px 52px;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  background-color: var(--white);
}

.parent-for-blank {
  position: relative;
  z-index: 5;
  left: calc(50% - 283px);
  height: 383px;
  width: 568px;
  overflow: hidden;
}

.dates {
  width: 308px;
  height: 38px;
  padding-top: 7px;
  padding-right: 0;
  padding-bottom: 6px;
  padding-left: 10px;
  margin-top: -2px;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--light-grey);
  border: none;
}

.dates::-webkit-input-placeholder {
  color: var(--black);
}

.dates::-moz-placeholder {
  color: var(--black);
}

.dates::placeholder {
  color: var(--black);
}

.h-for-hotel{
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.modal-show {
  transform: translate(0, 0);
  transition: all 2s ;
}

.icons {
  height: 10px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.modal {
  transform: translate( 0, -383px);
  transition: all 2s ;
}

.dates:hover {
  background-color: var(--date-for-hover);
}

.dates:focus {
  background-color: var(--white);
  outline: 2px solid var(--for-line-catalog);
}

.people {
  width: 91px;
  height: 38px;
  padding-left: 20px;
  margin-left: 10px;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  background-color: var(--light-grey);
  border: none;
}

.search {
  display: inline-block;
  min-width: 458px;
  height: 58px;
  margin-top: 17px;
  vertical-align: middle;
  font-family: inherit;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 26px;
  color: var(--white);
  background-color: var(--blue);
  border: none;
}

.date-arrive-container {
  max-width: 460px;
  height: 38px;
  margin-bottom: 29px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.date-leave-container {
  max-width: 460px;
  height: 38px;
  margin-bottom: 29px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.adults-and-children {
  font-size: 14px;
  display: flex;
}

.date-leave-container label {
  width: 114px;
  margin-top: -2px;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  line-height: 26px;
  
}

.date-arrive-container label {
  width: 114px;
  margin-top: 6px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.calendar-svg-icon{
  position: relative;
  right: 3px;
  top: 4px;
}

.bridge h2 {
  margin-top: 19px;
  margin-bottom: 18px;
  font-size: 21px;
}

.second-number {
  padding-top: 7px;
  font-size: 14px;
  text-align: center;
  line-height: 21px;
}

.calendar {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: var(--light-grey);
  border: none;
  fill: var(--grey-for-calendar-icon);
}

.adults-label {
  margin-right: 9px;
}

.calendar:hover, .calendar:focus {
  border: none;
  fill: var(--black);
}

.calendar:active {
  border: none;
  fill: var(--blue);
}

.button-minus {
  position: relative;
  left: 46px;
  bottom: 3px;
  width: 11px;
  background-color: var(--light-grey);
  border: none;
}

.minus {
  position: relative;
  right: 12px;
  top: 1px;
  background-color: var(--light-grey);
  fill: var(--grey-for-calendar-icon);
}

.union-adults {
  position: relative;
  right: 2px;
  top: 1px;
}

.union-children {
  position: relative;
  right: 7px;
  top: 2px;
}

.children {
  padding-left: 19px;
}

.minus:hover, .minus:focus {
  border: none;
  fill: var(--black);
}

.number-advantages {
  padding-top: 12px;
  font-size: 14px;
  text-align: center;
  line-height: 21px;
}

.minus:active {
  border: none;
  fill: var(--blue);
}

.button-union-first {
  position: relative;
  top: -37.5px;
  left: 196px;
  bottom: 37px;
  z-index: 100;
  height: 37px;
  background-color: var(--light-grey);
  border: none;
}

.children-container {
  padding-left: 55px;
}

.button-union-second {
  position: relative;
  top: -37.5px;
  left: 155px;
  bottom: 37px;
  z-index: 100;
  height: 37px;
  background-color: var(--light-grey);
  border: none;
}

.union:hover, .union:focus {
  border: none;
  fill: var(--black);
}

.union:active {
  border: none;
  fill: var(--blue);
}

.search:hover, .search:focus {
  background-color: var(--dark-blue-for-hover);
  border: none;
}

.search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--dark-blue-for-active);
  border: none;
}

.contacts {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.social-icons {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  fill: var(--white);
  background-color: var(--blue);
}

.socials {
  padding-left: 124px;
  list-style: none;
  flex-wrap: wrap;
  -webkit-box-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  width: 301px;
}

.phone {
  color: var(--black);
}

.hotels h1 {
  font-family: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.hotels p {
  padding-top: 2px;
  padding-left: 47px;
  padding-bottom: 37px;
  margin-top: 1px;
  font-family: inherit;
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
}

.hotels h2 {
  padding-top: 2px;
  margin-top: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
}

.price {
  padding-top: 3px;
  font-size: 12px;
  line-height: 18px;
  color: var(--blue);
}

.type {
  padding-top: 33px;
  padding-bottom: 2px;
  margin-left: -6px;
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  border-bottom: 1px dashed var(--blue);
  opacity: 0.3;
}

.type:hover, .type:focus,
.rate:hover,.rate:focus {
  color: var(--blue);
  border-bottom: 1px dashed var(--blue);
  opacity: 1;
}

.type:active,
.rate:active {
  color: var(--black);
  border: none;
  opacity: 1;
}

.rate {
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 3px;
  margin-left: -11px;
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  border-bottom: 1px dashed var(--blue);
  opacity: 0.3;
}

.hotels span {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-black);
}

.more {
  display: block;
  min-width: 110px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 17px;
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
  text-align: center;
  background-color: var(--blue);
}

.more:hover, .more:focus {
  background-color: var(--dark-blue-for-hover);
  border: none;
}

.more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--dark-blue-for-active);
  border: none;
}

.book {
  display: block;
  min-width: 142px;
  padding-top: 3px;
  padding-right: 0;
  padding-bottom: 3px;
  margin-top: 15px;
  margin-left: -5px;
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
  text-align: center;
  background-color: var(--brown);
}

.book:hover, .book:focus {
  background-color: var(--dark-brown-for-hover);
  border: none;
}

.book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--dark-brown-for-onclick);
  border: none;
}

.stars-and-rating {
  width: 110px;
  height: 91px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.span-for-star {
  display: inline-block;
  height: 17px;
  width: 18px;
  margin-top: -8px;
  margin-right: 1px;
  vertical-align: middle;
  background-image: url(../img/icon-star.svg);
}

.page-wrapper {
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.rating {
  width: 110px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 44px;
  font-size: 14px;
  color: var(--for-rating);
  text-align: center;
  background-color: var(--grey);
}

.navigation-item .current-page {
  font-weight: bold;
  font-size: 14px;
  color: var(--for-current-page);
  line-height: 26px;
}

.description {
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--light-black);
  line-height: 21px;
}

.price-book .description {
  display: block;
  padding-bottom: 2px;
  margin-left: -5px;
  margin-top: -62px;
}

.main-footer-second .footer-container-second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
}

.real-town .bridge {
  width: 400px;
  height: 256px;
  text-align: center;
  background-color: var(--blue);
}

.real-town h2 {
  font-size: 21px;
  font-weight: bold;
  color: var(--white);
  line-height: 21px;
}

.bridge h2 {
  font-size: 21px;
  font-weight: bold;
  color: var(--white);
  line-height: 21px;
}

.real-town p {
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
}

.bridge p {
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
}

.facilities {
  height: 330px;
  text-align: center;
  background-color: var(--white);
}

.facilities li,
.advantages li {
  list-style: none;
}

.facilities li {
  padding-top: 146px;
}

.facilities h2 {
  margin-top: 13px;
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: var(--black);
}

.about-motel {
  padding-top: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

.about-food {
  padding-top: 1px;
  padding-right: 20px;
  padding-left: 20px;
}

.about-gifts {
  padding-top: 1px;
  padding-right: 16px;
  padding-left: 16px;
}

.facilities p {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-black);
}

.advantages p {
  padding-top: 8px;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-black);
}

.facilities p {
  margin: 0;
}

.facilities h2 {
  margin-bottom: 25px;
}

.map {
  z-index: 0;
  width: 1199px;
  height: 594px;
  margin-top: -382px;
  background-color: var(--grey);
}

.filter {
  width: 100%;
  padding-top: 26px;
  padding-right: 73px;
  padding-bottom: 33px;
  padding-left: 72px;
  display: flex;
}

.last {
  padding-bottom: 32px;
}

.filter legend {
  padding-top: 0;
  padding-right: 9px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--white);
}

.filter label:not(.max-price):not(.min-price) {
  position: relative;
  left: 32px;
  margin-bottom: 25px;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
}

.filter fieldset:not(.type-of-life) {
  height: 158px;
  padding-top: 3px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 2px;
  margin-left: 3px;
  border: none;
}

.type-of-life {
  height: 158px;
  padding-top: 3px;
  padding-right: 0;
  padding-left: 109px;
  padding-bottom: 0;
  border: none;
}

.price-filter {
  position: relative;
  left: 374px;
  top: -6px;
  margin-left: auto;
  color: var(--white);
  border: none;
}

.price-container {
  min-width: 316px;
  height: 36px;
  padding-top: 5px;
  margin-top: 8px;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  border: 2px solid var(--white);
}

.range-price {
  position: relative;
  height: 53px;
  padding-top: 20px;
  background-color: transparent;
}

.range-price .scale {
  height: 2px;
  background-color: var(--black);
  opacity: 0.3;
}

.range-price .bar {
  width: 80%;
  height: 2px;
  background-color: var(--white);
}

.range-price .toggle-min {
  left: 0;
}

.range-price .toggle-max {
  left: 253px;
}

.toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 2px 2px;
  border: 8px solid var(--white);
  border-radius: 50%;
  background-color: var(--toggle);
  box-shadow: 0 2px 1px 0 var(--toggle);
  cursor: pointer;
}

.toggle-min:hover, .toggle-min:focus {
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 16px;
  padding: 2px 2px;
  border: 10px solid var(--white);
  border-radius: 50%;
  background-color: var(--toggle);
  box-shadow: 0 2px 1px 0 var(--toggle);
  cursor: pointer;
}

.p-filter input, 
.p-filter-second input {
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.p-filter label::before,
.p-filter-second label::before {
  position: absolute;
  left: -39px;
  top: -1px;
  width: 23px;
  height: 23px;
  border: 2px solid var(--white);
  border-radius: 4px;
  cursor: pointer;
  content: "";
}

.p-filter input:disabled + label::before,
.p-filter-second + label::before {
   opacity: 0.5;
}

.p-filter input:disabled + label::after,
.p-filter-second:disabled + label::after {
  opacity: 0.5;
}

.p-filter input:checked + label::before,
.p-filter-second input:checked + label::before {
  border: none;
}

.p-filter input:checked + label::after,
.p-filter-second input:checked + label::after {
  position: absolute;
  top: -3px;
  left: -41px;
  width: 26px;
  height: 26px;
  background-image: url("../img/icon-checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  content: "";
}

.toggle-max:hover, .toggle-max:focus {
  position: absolute;
  top: 11px;
  width: 25px;
  height: 16px;
  padding: 2px 2px;
  border: 10px solid var(--white);
  border-radius: 50%;
  background-color: var(--toggle);
  box-shadow: 0 2px 1px 0 var(--toggle);
  cursor: pointer;
}

.price-container input {
  width: 53px;
  font-family: inherit;
  font-size: 14px;
  color: var(--white);
  background-color: transparent;
  border: none;
}

.price-filter legend {
  padding-top: 6px;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.icon-up {
  margin-top: 12px;
  margin-left: 502px;
  fill: var(--grey-for-up-down);
}

.website a {
  position: relative;
  right: 6px;
  top: -1px;
  padding-right: 2px;
}

.icon-up:hover, .icon-up:focus {
  fill: var(--black);
}

.icon-down:hover, .icon-down:focus {
  fill: var(--black);
}

.icon-up:active {
  fill: var(--blue);
}

.icon-down:active {
  fill: var(--blue);
}

.icon-down {
  margin-top: 12px;
  margin-left: 11px;
  fill: var(--grey-for-up-down);
}

.button-show {
  display: inline-block;
  min-width: 137px;
  height: 36px;
  padding-left: 11px;
  margin-top: 2px;
  margin-left: 84px;
  font: inherit;
  line-height: 21px;
  color: var(--white);
  text-transform: uppercase;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid var(--white);
}

.button-show:hover, .button-show:focus {
  color: var(--black);
  background-color: var(--white);
  border: 2px solid var(--white);
}

.contacts {
  padding-left: 83px;
  padding-bottom: 6px;
  margin: auto;
}

.visit-sedona {
  display: block;
  margin-top: -11px;
}

.social-icons img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-icons:active img {
  opacity: 0.3;
}

.social-icons:hover, .social-icons:focus {
  background-color: var(--dark-blue-for-hover);
}

.social-icons:active {
  background-color: var(--dark-blue-for-active);
}

.academy-logo {
  margin-left: 10px;
  fill: var(--black-for-html-academy);
  vertical-align: middle;
}

.website span {
  padding-left: 9px;
  vertical-align: middle;
}

.academy-logo:hover, .academy-logo:focus {
  fill: var(--blue);
}

.check-labels-first-column {
  top: -1px;
}

.first-legend-filter {
  padding-top: 2px;
  margin-left: -5px;
}

.second-legend-filter {
  padding-top: 2px;
  margin-left: -5px;
}

.first-column-checkbox {
  margin-top: 4px;
  margin-left: -13px;
}

.second-column-checkbox {
  margin-top: 1px;
  margin-left: -14px;
}

.check-labels-second-column {
  margin-left: 1px;
}


.academy-logo:active {
  fill: var(--black-for-html-academy);
  fill-opacity: 0.9;
}

.main-footer {
  color: var(--black);
  background-color: var(--white);
}

.telephone {
  display: block;
  padding-top: 9px;
}

.main-footer .footer-container {
  margin-top: -121px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-for-contacts {
  width: 400px;
  flex-wrap: wrap;
  line-height: 9px;
  display: flex;
}

.section-for-socials {
  width: 400px;
}

.map iframe {
  border: none;
}

.website {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 26px;
}

.current-page {
  color: var(--for-current-page);
  font-size: 14px;
  line-height: 26px;
}

.choose-hotel {
  background-color: var(--white);
}

.choose-hotel section h1 {
  padding-left: 237px;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white);
}

.advantages ul {
  margin: 0;
  display: flex;
}

ul {
  padding-left: 0;
  margin: 0;
}

.number {
  padding-top: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.section-for-website{
  width: 400px;
  flex-wrap: wrap;
  display: flex;
}

.deserves-more {
  margin-top: -16px;
}
.name-hotel h3 {
  margin: 0;
}

.hotel-more,
.price-book {
  display: inline-block;
  margin-right: 6px;
  text-align: left;
  vertical-align: bottom;
}

.name-of-hotel {
  position: relative;
  top: -6px;
  margin-bottom: 3px;
  font-family: inherit;
  font-weight: 900;
  line-height: 26px;
  color: var(--black);
  text-align: left;
}

.name-of-hotel:hover, .name-of-hotel:focus {
  color: var(--blue);
}

.name-of-hotel:active {
  color: rgba(0, 0, 0, 0.3);
}

.advantages h2 {
  margin-top: 1px;
  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
 
}

.p-for-bridge {
  padding-top: 9px;
  padding-right: 47px;
  padding-left: 47px;
}

li {
  list-style: none;
}

.choose-hotel li {
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--for-line-catalog);
  display: flex;
  flex-wrap: wrap;
}

.choose-hotel li:first-child {
  border-top: 1px solid var(--for-line-catalog);
}

.name-hotel {
  padding-left: 29px;
}

.section-filter {
  background-color: var(--blue);
  background-image: url("../img/backgroundbackground-2-photo.png");
  background-size: cover;
}

.min-price {
  padding-top: 3.5px;
  padding-right: 16px;
  padding-bottom: 3.5px;
  margin-left: 65px;
  margin-bottom: 8px;
  border-right: 2px solid var(--white);
}

.max-price {
  margin-top: 6px;
  margin-bottom: 8px;
  margin-left: 52px;
}

.hotels {
  height: 86px;
  padding-top: 29px;
  padding-left: 73px;
  display: flex;
}

.hotels li {
  font-size: 12px;
  line-height: 18px;
  display: inline;
}

.hotels li:not(:first-child) {
  margin-left: 32px;
}

.hotels ul {
  padding-top: 0;
  padding-left: 40px;
}

.choose-hotel li {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px 70px 29px 73px;
}

.p-filter,
.p-filter-second {
  margin: 0;
}

.first {
  padding-top: 24px;
  padding-left: 3px;
}

.first-two {
  padding-top: 24px;
}

.p-filter-second:not(.first) {
  padding-top: 23px;
  padding-left: 5px;
}

.p-filter:not(.first) {
  padding-top: 23px;
  padding-left: 1px;
}

.form-error{
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

input[type="checkbox"] {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.socials li {
  padding-bottom: 2px;
}