@font-face {
    font-family: "PTSans", "Arial", sans-serif;
    src: url("../fonts/web/ptsans.woff2") format("woff2"),
      url("../fonts/web/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "PTSans", "Arial", sans-serif;
    src: url("../fonts/web/ptsansbold.woff2") format("woff2"),
      url("../fonts/web/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  :root {
    --white: #ffffff;
    --blue: #81b3d2;
    --grey: #eeeeee;
    --brown: #766357;
    --light-grey: #f2f2f2;
    --black: #000000;
    --light-black: #333333;
    --for-current-page: #766357;
    --for-rating: #666666;
    --for-line-catalog: #e5e5e5;
    --dark-brown-for-hover: #604e43;
    --dark-brown-for-onclick: #503e33;
    --dark-blue-for-hover: #669ec0;
    --dark-blue-for-active: #5496bd;
    --grey-for-calendar-icon: #a9a9a9;
    --black-for-html-academy: #231f20;
    --date-for-hover: #ebebeb;
    --grey-for-up-down: #cacaca;
    --toggle: #ababab;
    --for-checkbox: #6a6a6a;
  }
  
    /* @keyframes down {
      from {
        -webkit-transform: translate(-50%, -400px);
        transform: translate(-50%, -400px);
      }
    
      to {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
      }
   
  }   */

  
  .page {
    height: 100%;
  }
  
  body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    line-height: 21px;
    text-transform: uppercase;
    background-color: var(--light-grey);
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    background-color: var(--white);
  }
  
  .navigation-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .information-nav {
    margin-left: 72px;
    width: 240px;
    text-align: left;
  }
  
  .photo-nav {
    width: 240px;
    text-align: left;
    margin-left: -12px;
  }

  .information:hover, .information:focus,
  .photo:hover, .photo:focus,
  .hotels-sedona:hover, .hotels-sedona:focus,
  .map-sedona:hover,  .map-sedona:focus {
    color: var(--blue);
  }

  
  
  .information:active,
  .photo:active, 
  .map-sedona:active, 
  .hotels-sedona:active {
    color: var(--black);
    opacity: 0.3;
  }
  
  
  .map-nav {
    width: 240px;
    text-align: right;
    margin-left: 120px;
  }
  
  .current-page {
    color: var(--for-current-page);
  }
  
  .hotel-nav {
    width: 240px;
    text-align: right;
    margin-left: -14px;
  }
  
  .logo-sedona {
    position: absolute;
    top: 0;
    left: calc(50% - 69px);
  }
  
  .navigation-item a {
    color: var(--black);
  }
  
  .navigation-item li {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .main-logo {
    width: 1200px;
    background-color: var(--blue);
    background-image: url(../img/background-photo-1.jpg);
    background-position: center;
    max-width: 100%;
    height: 509px;
  }
  
  .welcome-logo {
    text-align: center;
    padding-top: 77px;
    margin-left: 370px;
  }
  
  .figure {
    margin-bottom: -63px;
  }
  
  .information-main {
    text-align: center;
  }
  
  .real-town {
    margin: 0 auto;
    padding-top: 40px;
  }
  
  .its-own-life {
    margin-top: -15px;
  }
  
  .is-not-attraction {
    padding-left: 26px;
    padding-right: 26px;
    margin-top: 23px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 54px;
  }
  
  .real-town h2 {
    max-width: 225px;
    margin: 0 auto;
    margin-top: 7px;
    font-size: 21px;
    line-height: 21px;
  }
  
  .real-town-section {
    display: flex;
    text-align: center;
    margin-top: 51px;
    background-color: var(--blue);
    color: var(--white);
  }
  
  .food {
    width: 400px;
    justify-self: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 82px;
  }
  
  .house {
    width: 400px;
    justify-self: start;
    padding-left: 43px;
    padding-right: 43px;
    padding-bottom: 82px;
  }
  
  .souvenirs {
    width: 400px;
    justify-self: end;
    padding-left: 43px;
    padding-right: 43px;
    padding-bottom: 82px;
  }
  
  .area {
    width: 400px;
    justify-self: start;
  }
  
  .beautiful-road {
    width: 400px;
    justify-self: center;
  }
  
  .less-people {
    width: 400px;
    justify-self: end;
  }
  
  .facilities ul {
    display: flex;
  }
  
  .bridge {
    margin: 0 auto;
    padding-top: 30px;
  }
  
  .bridge p {
    font-size: 14px;
    line-height: 21px;
  }
  
  .bridge-section {
    display: flex;
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
  }
  
  .advantages {
    background-color: var(--grey);
    text-align: center;
    width: 1200px;
    height: 256px;
  }
  
  .advantages li {
    padding-top: 47px;
    padding-bottom: 54px;
  }
  
  .food {
    background-image: url(../img/icon-3.svg);
    background-size: 75px 70px;
    background-position: center 61px;
    background-repeat: no-repeat;
  }
  
  .souvenirs {
    background-image: url(../img/icon-2.svg);
    background-size: 80px 74px;
    background-position: center 58px;
    background-repeat: no-repeat;
  }
  
  .house {
    background-image: url(../img/icon-1.svg);
    background-size: 75px 70px;
    background-position: center 61px;
    background-repeat: no-repeat;
  }
  
  .town-sedona {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin: 43px 349px;
    width: 500px;
  }
  
  .p-for-advantages {
    padding-left: 60px;
    padding-right: 60px;
  }
  
  .p-for-advantages-drive {
    padding-left: 65px;
    padding-right: 65px;
  }
  
  .p-for-advantages-crowd {
    padding-left: 75px;
    padding-right: 75px;
  }
  
  .reasons {
    font-size: 14px;
    line-height: 26px;
    color: var(--light-black);
    padding-right: 6px;
    margin-top: 44px;
  }
  
  .dates-of-journey h2 {
    padding-top: 57px;
    text-align: center;
    font-size: 30px;
    line-height: 24px;
    margin-top: 0px;
    font-stretch: condensed;
    padding-left: 3px;
  }
  
  .dates-of-journey p {
    font-size: 14px;
    line-height: 24px;
    color: var(--light-black);
    text-align: center;
    font-stretch: condensed;
    padding-top: 7px;
  }
  
  .search-hotels {
    margin-left: 318px;
    font: inherit;
    text-align: center;
    min-width: 568px;
    height: 86px;
    font-weight: bold;
    font-size: 21px;
    padding-top: 4px;
    background-color: var(--brown);
    color: var(--white);
    text-transform: uppercase;
    border: none;
    line-height: 26px;
    margin-top: 28px;
    z-index: 10;
    display: inline-block;
  }
  
  .search-hotels:hover, .search-hotels:focus {
    background-color: var(--dark-brown-for-hover);
    border: none;
  }
  
  .search-hotels:active {
    background-color: var(--dark-brown-for-onclick);
    color: rgba(255, 255, 255, 0.3);
    border: none;
  }
  
  .blank {
    background-color: var(--white);
    font: inherit;
    font-weight: bold;
    background-color: var(--white);
    font-size: 14px;
    font: inherit;
    line-height: 26px;
    font-weight: bold;
    padding: 55px 54px 41px 54px;
    position: absolute;
    left: 0px;
    width: 568px;
    z-index: 3;
  }

  .parent-for-blank {
    z-index: 5;
    left: calc(50% - 281px);
    overflow: hidden;
    height: 383px;
  }
  
  .dates {
    border: none;
    width: 308px;
    padding: 6px 0 6px 12px;
    height: 38px;
    background-color: var(--light-grey);
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    font: inherit;
    text-transform: uppercase;
    margin-top: -2px;
    font-stretch: condensed;
  }

  .modal-show {
    transform: translate(0, 0);
    transition: all 2s ;
  }

  .modal {
    transform: translate( 0, -383px);
    transition: all 2s ;
  }
  
  .dates:hover {
    background-color: var(--date-for-hover);
  }
  
  .dates:focus {
    background-color: var(--white);
    border: 2px solid var(--for-line-catalog);
    outline: none;
  }
  
  .people {
    width: 91px;
    height: 38px;
    border: none;
    background-color: var(--light-grey);
    text-align: center;
    font: inherit;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    padding-left: 20px;
  }
  
  .search {
    min-width: 458px;
    height: 58px;
    display: inline-block;
    background-color: var(--blue);
    color: var(--white);
    font: inherit;
    border: none;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 26px;
    margin-top: 20px;
  }
  
  .date-arrive-container {
    margin-bottom: 29px;
    max-width: 460px;
    height: 38px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .date-leave-container {
    margin-bottom: 29px;
    max-width: 460px;
    height: 38px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .adults-and-children {
    display: flex;
    font-size: 14px;
  }
  
  .date-leave-container label {
    width: 114px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    margin-top: -2px;
  }
  
  .date-arrive-container label {
    width: 114px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    margin-top: 6px;
  }
  
  .bridge h2 {
    margin-top: 21px;
    font-size: 21px;
  }
  
  .second-number {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    padding-top: 7px;
  }
  
  .calendar {
    position: relative;
    fill: var(--grey-for-calendar-icon);
    background-color: var(--light-grey);
    border: none;
    width: 38px;
    height: 38px;
    right: 2px;
    top: -1px;
  }
  
  .adults-label {
    margin-right: 9px;
  }
  
  .calendar:hover, .calendar:focus {
    fill: var(--black);
    border: none;
  }
  
  .calendar:active {
    fill: var(--blue);
    border: none;
  }
  
  .button-minus {
    position: relative;
    left: 30px;
    border: none;
    bottom: 3px;
  }
  
  .minus {
    fill: var(--grey-for-calendar-icon);
    background-color: var(--light-grey);
  }
  
  .minus:hover, .minus:focus {
    fill: var(--black);
    border: none;
  }
  
  .number-advantages {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    padding-top: 12px;
  }
  
  .minus:active {
    fill: var(--blue);
    border: none;
  }
  
  .button-union-first {
    position: relative;
    left: 195px;
    border: none;
    height: 37px;
    z-index: 100;
    bottom: 37px;
    top: -37.5px;
    background-color: var(--light-grey);
  }
  
  .children-container {
    padding-left: 55px;
  }
  
  .button-union-second {
    position: relative;
    left: 150px;
    border: none;
    height: 37px;
    z-index: 100;
    bottom: 37px;
    top: -37.5px;
    background-color: var(--light-grey);
  }
  
  .union:hover, .union:focus {
    fill: var(--black);
    border: none;
  }
  
  .union:active {
    fill: var(--blue);
    border: none;
  }
  
  .search:hover, .search:focus {
    background-color: var(--dark-blue-for-hover);
    border: none;
  }
  
  .search:active {
    background-color: var(--dark-blue-for-active);
    color: rgba(255, 255, 255, 0.3);
    border: none;
  }
  
  .contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
  }
  .website {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 26px;
  }
  
  .social-icons {
    display: block;
    width: 46px;
    height: 48px;
    fill: #fff;
    background-color: var(--blue);
    position: relative;
    margin-right: 6px;
  }
  
  .socials {
    list-style: none;
  }
  
  .phone {
    color: var(--black);
  }
  
  .hotels h1 {
    font: inherit;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
  }
  
  .hotels p {
    font: inherit;
    font-size: 12px;
    line-height: 18px;
    color: var(--black);
    padding-top: 2px;
    margin-top: 1px;
    padding-left: 51px;
    padding-bottom: 37px;
  }
  
  .hotels h2 {
    font: inherit;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--black);
    padding-top: 2px;
    margin-top: 0px;
  }
  
  .price {
    color: var(--blue);
    font-size: 12px;
    line-height: 18px;
    padding-top: 3px;
    padding-left: 3px;
  }
  
  .type {
    font-size: 12px;
    line-height: 18px;
    color: var(--black);
    opacity: 0.3;
    border-bottom: 1px dashed var(--blue);
    padding-top: 33px;
    margin-left: -4px;
    padding-bottom: 2px;
  }
  
  .type:hover, .type:focus,
  .rate:hover,.rate:focus {
    color: var(--blue);
    border-bottom: 1px dashed var(--blue);
    opacity: 1;
  }
  
  .type:active,
  .rate:active {
    color: var(--black);
    opacity: 1;
    border: none;
  }
  
  .rate {
    font-size: 12px;
    line-height: 18px;
    color: var(--black);
    border-bottom: 1px dashed var(--blue);
    padding-top: 3px;
    padding-left: 1px;
    opacity: 0.3;
    padding-bottom: 3px;
    margin-left: -5px;
  }
  
  .hotels span {
    font: inherit;
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
  }
  
  .more {
    color: var(--white);
    font-size: 14px;
    text-align: center;
    margin-top: 17px;
    display: block;
    min-width: 110px;
    padding: 3px 17px;
    background-color: var(--blue);
  }
  
  .more:hover, .more:focus {
    background-color: var(--dark-blue-for-hover);
    border: none;
  }
  
  .more:active {
    background-color: var(--dark-blue-for-active);
    color: rgba(255, 255, 255, 0.3);
    border: none;
  }
  
  .book {
    color: var(--white);
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    margin-left: -5px;
    margin-right: px;
    display: block;
    min-width: 142px;
    padding: 3px 0;
    background-color: var(--brown);
  }
  
  .book:hover, .book:focus {
    background-color: var(--dark-brown-for-hover);
    border: none;
  }
  
  .book:active {
    background-color: var(--dark-brown-for-onclick);
    color: rgba(255, 255, 255, 0.3);
    border: none;
  }
  
  .stars-and-rating {
    margin-left: auto;
    width: 110px;
    height: 91px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .span-for-star {
    height: 17px;
    width: 18px;
    margin-right: 2px;
    margin-top: -px;
    display: inline-block;
    background-image: url(../img/star.svg);
  }
  
  .page-wrapper {
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  }
  
  .rating {
    background-color: var(--grey);
    color: var(--for-rating);
    width: 110px;
    margin-top: 40px;
    text-align: center;
    padding: 3px 3px;
    font-size: 14px;
    padding-right: 12px;
  }
  
  .navigation-item .current-page {
    color: var(--for-current-page);
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;
  }
  
  .description {
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
    margin-bottom: 10px;
  }
  
  .price-book .description {
    display: block;
    margin-left: -5px;
    margin-top: -62px;
  }
  
  .main-footer-second .footer-container-second {
    padding-right: 101px;
    padding-left: 117px;
    display: grid;
    margin-top: -4px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .real-town .bridge {
    width: 400px;
    height: 256px;
    background-color: var(--blue);
    text-align: center;
  }
  
  .real-town h2 .bridge h2 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--white);
  }
  
  .real-town p .bridge p {
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
  }
  
  .facilities {
    background-color: var(--white);
    text-align: center;
    height: 330px;
  }
  
  .facilities li,
  .advantages li {
    list-style: none;
  }
  
  .facilities li {
    padding-top: 146px;
  }
  
  .facilities h2 {
    font: inherit;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--black);
    margin-top: 13px;
  }
  
  .about-motel {
    padding-top: 1px;
    padding-left: 4px;
  }
  
  .about-food {
    padding-left: 20px;
    padding-top: 1px;
  }
  
  .about-gifts {
    padding-left: 16px;
    padding-top: 1px;
  }
  
  .facilities p {
    font: inherit;
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
  }
  
  .advantages p {
    font: inherit;
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
    padding-top: 8px;
  }
  
  .facilities p {
    margin: 0;
  }
  
  .facilities h2 {
    margin-bottom: 25px;
  }
  
  .map {
    width: 1199px;
    height: 594px;
    z-index: 0;
    background-color: var(--grey);
  }
  
  .filter {
    display: flex;
    width: 100%;
    padding-left: 72px;
    padding-right: 73px;
    padding-top: 26px;
    padding-bottom: 33px;
  }
  
  .last {
    padding-bottom: 32px;
  }
  
  .filter legend {
    font: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: var(--white);
  }
  
  .filter label:not(.max-price):not(.min-price) {
    position: relative;
    margin-bottom: 25px;
    font: inherit;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    left: 29px;
  }
  
  .filter fieldset:not(.type-of-life) {
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    height: 158px;
  }
  .type-of-life {
    padding-left: 117px;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    height: 158px;
  }
  
  .price-container {
    margin-top: 10px;
  }
  
  .price-filter {
    border: none;
    color: var(--white);
    margin-left: auto;
  }
  
  .price-container {
    border: 2px solid var(--white);
    font: inherit;
    min-width: 316px;
    height: 36px;
    font-size: 14px;
    line-height: 21px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  .range-price {
    position: relative;
    height: 53px;
    background-color: transparent;
    padding-top: 20px;
  }
  
  .range-price .scale {
    height: 2px;
    background-color: var(--black);
    opacity: 0.3;
  }
  
  .range-price .bar {
    width: 80%;
    height: 2px;
    background-color: var(--white);
  }
  
  .range-price .toggle-min {
    left: 0;
  }
  
  .range-price .toggle-max {
    left: 253px;
  }
  
  .toggle {
    width: 4px;
    height: 4px;
    border: 8px solid var(--white);
    background-color: var(--toggle);
    padding: 2px 2px;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #ababab;
    position: absolute;
    top: 11px;
    left: 0;
    cursor: pointer;
  }
  
  .toggle-min:hover, .toggle-min:focus {
    width: 23px;
    height: 21px;
    border: 8px solid var(--white);
    background-color: var(--toggle);
    padding: 2px 2px;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #ababab;
    position: absolute;
    top: 11px;
    left: 0;
    cursor: pointer;
  }
  
  .p-filter input {
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
  }
  
  .p-filter label::before {
    content: "";
    position: absolute;
    left: -38px;
    top: -4px;
    border-radius: 4px;
    width: 23px;
    height: 23px;
    border: 2px solid var(--white);
    cursor: pointer;
  }

  .p-filter label::before:disabled{
    background-color: var(--for-checkbox);
  }
  
  .p-filter input:checked + label::before {
    border: none;
  }
  
  .p-filter input:checked + label::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -38px;
    width: 26px;
    height: 26px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
  }
  
  .toggle-max:hover, .toggle-max:focus {
    width: 23px;
    height: 21px;
    border: 8px solid var(--white);
    background-color: var(--toggle);
    padding: 2px 2px;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #ababab;
    position: absolute;
    top: 11px;
    left: 290;
    cursor: pointer;
  }
  
  .price-container input {
    width: 53px;
    background-color: transparent;
    color: var(--white);
    border: none;
    font: inherit;
    font-size: 14px;
  }
  
  .price-filter legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    margin-left: -2px;
    padding-top: 1px;
  }
  
  .icon-up {
    margin-left: 503px;
    margin-top: 12px;
    fill: var(--grey-for-up-down);
  }
  
  .icon-up:hover, .icon-up:focus {
    fill: var(--black);
  }
  
  .icon-down:hover, .icon-down:focus {
    fill: var(--black);
  }
  
  .icon-up:active {
    fill: var(--blue);
  }
  
  .icon-down:active {
    fill: var(--blue);
  }
  
  .icon-down {
    margin-left: 11px;
    margin-top: 12px;
    fill: var(--grey-for-up-down);
  }
  
  .button-show {
    min-width: 137px;
    display: inline-block;
    height: 36px;
    border: 2px solid var(--white);
    background-color: transparent;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    text-transform: uppercase;
    font: inherit;
    margin-left: 85px;
    margin-top: 3px;
  }
  
  .button-show:hover, .button-show:focus {
    border: 2px solid var(--white);
    background-color: var(--white);
    color: var(--black);
  }
  .contacts {
    padding-top: 4px;
    padding-left: 13px;
  }
  
  .socials {
    display: flex;
    margin-top: 36px;
    margin-bottom: 36px;
  }
  
  .social-icons img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .social-icons:active img {
    opacity: 0.3;
  }
  
  .social-icons:hover, .social-icons:focus {
    background-color: var(--dark-blue-for-hover);
  }
  
  .social-icons:active {
    background-color: var(--dark-blue-for-active);
  }
  
  .academy-logo {
    fill: var(--black-for-html-academy);
    margin-left: 10px;
  }
  
  .website span {
    padding-top: 36px;
  }
  
  .academy-logo:hover, .academy-logo:focus {
    fill: var(--blue);
  }
  
  .check-labels-first-column {
    top: -1px;
  }
  
  .first-legend-filter {
    margin-left: -5px;
    padding-top: 2px;
  }
  
  .second-legend-filter {
    margin-left: -5px;
    padding-top: 2px;
  }
  
  .first-column-checkbox {
    margin-left: -13px;
    margin-top: 4px;
  }
  
  .second-column-checkbox {
    margin-left: -14px;
    margin-top: 1px;
  }
  
  .check-labels-second-column {
    margin-left: 1px;
  }
  
  
  .academy-logo:active {
    fill: var(--black-for-html-academy);
    fill-opacity: 0.9;
  }
  
  .main-footer {
    color: var(--black);
    background-color: var(--white);
  }
  
  .telephone {
    display: block;
    font-family: "PT Sans";
    padding-top: 9px;
  }
  
  .main-footer .footer-container {
    padding-right: 101px;
    padding-left: 117px;
    display: grid;
    margin-top: -121px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .section-for-contacts {
    text-align: left;
    width: 251px;
    line-height: 9px;
  }
  
  .section-for-socials {
    margin: 0 auto;
    width: 138px;
    margin-left: 80px;
  }
  
  .map iframe {
    border: none;
  }
  
  .website {
    padding-left: 117px;
    display: flex;
  }
  
  .website a {
    padding-top: 25px;
  }
  
  .current-page {
    color: var(--for-current-page);
    font-size: 14px;
    line-height: 26px;
  }
  
  .choose-hotel {
    background-color: var(--white);
  }
  
  .choose-hotel section h1 {
    padding-left: 237px;
  }
  
  .page-wrapper {
    margin: 0 auto;
    width: 1200px;
    background-color: var(--white);
  }
  
  .advantages ul {
    margin: 0px;
    display: flex;
  }
  
  ul {
    padding: 0px;
    margin: 0px;
  }
  .number {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    padding-top: 12px;
  }
  
  .deserves-more {
    margin-top: -16px;
  }
  .name-hotel h3 {
    margin: 0px;
  }
  
  .hotel-more,
  .price-book {
    text-align: left;
    display: inline-block;
    margin-right: 6px;
    vertical-align: bottom;
  }
  
  .name-of-hotel {
    margin-bottom: 3px;
    text-align: left;
    position: relative;
    top: -6px;
    color: var(--black);
    font-weight: bold;
    line-height: 26px;
    font-family: inherit;
  }
  
  .name-of-hotel:hover, .name-of-hotel:focus {
    color: var(--blue);
  }
  
  .name-of-hotel:active {
    color: rgba(0, 0, 0, 0.3);
  }
  
  .advantages h2 {
    font: inherit;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--black);
    margin-top: 1px;
  }
  
  .p-for-bridge {
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 9px;
  }
  
  li {
    list-style: none;
  }
  
  .choose-hotel li {
    display: flex;
    border-bottom: 1px solid var(--for-line-catalog);
    flex-wrap: wrap;
    padding-top: 30px;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-right: 72px;
  }
  
  .choose-hotel li:first-child {
    border-top: 1px solid var(--for-line-catalog);
  }
  
  .name-hotel {
    padding-left: 29px;
  }
  
  .section-filter {
    background-color: var(--blue);
    background-image: url("../img/backgroundbackground-2-photo.png");
    background-size: cover;
  }
  
  .min-price {
    margin-left: 65px;
    margin-bottom: 8px;
    border-right: 2px solid var(--white);
    padding-right: 16px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
  }
  
  .max-price {
    margin-left: 52px;
    margin-top: 6px;
    margin-bottom: 8px;
  }
  
  .hotels {
    display: flex;
    padding-left: 73px;
    padding-top: 29px;
    height: 86px;
  }
  
  .hotels li {
    display: inline;
    font-size: 12px;
    line-height: 18px;
  }
  
  .hotels li:not(:first-child) {
    margin-left: 32px;
  }
  
  .hotels ul {
    padding-top: 0px;
    padding-left: 40px;
  }
  
  .choose-hotel li {
    padding: 30px 70px 30px 72px;
  }
  
  .p-filter {
    margin: 0px;
  }
  
  .first {
    padding-top: 24px;
  }
  
  .p-filter:not(.first) {
    padding-top: 25px;
  }
  